<!doctype html>
<html class="no-js" lang="en">

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ htmlWebpackPlugin.options.title }}</title>

      <meta name="keywords" content="{{ htmlWebpackPlugin.options.keywords }}" />
      <meta name="description" content="{{ htmlWebpackPlugin.options.description }}" />
      <meta name="author" content="{{ htmlWebpackPlugin.options.author }}" />
      <meta name="copyright" content="{{ htmlWebpackPlugin.options.license }}" />

      <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Lora|Playfair+Display|BenchNine|Cinzel+Decorative|Inconsolata|EB+Garamond|Julee|Arapey|Caveat" rel="stylesheet"/>
      <link rel="stylesheet" href="css/windrift.css" />

  </head>

  <body class="pagination-{{ htmlWebpackPlugin.options.pagination }}">
      <nav class="top-bar">
        <div class="top-bar-left">
          <div><a href="#" onClick="showAbout()">About</a></div>
        </div>
        <div>
          <div class="top-bar-right">
            <div><a href="#" onClick="resetGame(event)">Restart</a></div>
          </div>
        </div>
      </nav>

      <div id="small-viewport-message">
        <p>
          This story requires a larger screen than this. It should work
          well on tablets or full-size computers, or try rotating your phone.
        </p>
      </div>

      <div class="container" id="container">
        <article id="article"></article>
      </div>

      <svg version="1.1" id="filter-effects" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
          <defs>
            <filter id="filter-line-wiggle">
                <feTurbulence result="TURBULENCE" baseFrequency="0.01" numOctaves="5" seed="1" />
                <feDisplacementMap in="SourceGraphic" in2="TURBULENCE" scale="9" />
            </filter>
          </defs>
        </svg>
  </body>

</html>
